@model Product 
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post" style="width: 200px;">
    <input type="hidden" asp-for="ProductID" />
    <div class="form-group">
        <label asp-for= "Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for= "Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>

    </div>
    <div>
        <label asp-for="Category"></label>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
        <input asp-for="Category" class="form-control" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div>
        <button tipe="submit" class="btn btn-light">Save</button>
        <a asp-action="List" class="btn btn-dark">Cancel</a>
    </div>
</form>
